<h1><i class="fa fa-dashboard"> </i> Dashboard</h1>
<div class="row">
	<div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Users {{session.name}}</h3>
        </div>
        <div class="panel-body">
          <ul>
	          <li><a href="/signup"> Register</a></li>
	          <li><a href="/signin"> Sign In</a></li>
	          <li><a href="#"> Profile</a></li>
          </ul>
        </div>
      </div>
	</div>
	<div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">User Services</h3>
        </div>
        <div class="panel-body">
          <ul>
		      <li><a href="/signup"> Register</a></li>
		      <li><a href="/signin"> Sign In</a></li>
		      <li><a href="#"> Profile</a></li>
          </ul>
        </div>
      </div>
	</div>
	<div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">User Services</h3>
        </div>
        <div class="panel-body">
          <ul>
	          <li><a href="/signup"> Register</a></li>
	          <li><a href="/signin"> Sign In</a></li>
	          <li><a href="#"> Profile</a></li>
          </ul>
        </div>
      </div>
	</div>
</div>